<adf-toolbar color="primary">
  <adf-toolbar-title>
    <a md-button routerLink="/">ADF</a>
  </adf-toolbar-title>

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
  </button>
  <md-menu #appMenu="mdMenu">
    <a md-menu-item href="" routerLink="/login">
      <md-icon>view_module</md-icon>
      <span>Login</span>
    </a>
    <a md-menu-item href="" routerLink="/datatable">
      <md-icon>view_module</md-icon>
      <span>DataTable</span>
    </a>
    <a md-menu-item href="" routerLink="/viewer">
      <md-icon>view_module</md-icon>
      <span>Viewer</span>
    </a>
    <a md-menu-item href="" routerLink="/documentlist">
      <md-icon>view_module</md-icon>
      <span>DocumentList</span>
    </a>
  </md-menu>
</adf-toolbar>

<router-outlet></router-outlet>
