<h3>Tasks</h3>

<button mat-raised-button routerLink="/community/start-task" color="primary">
  Start new task
</button>

<adf-cloud-task-list #taskList [sorting]="taskListSorting" (rowClick)="onTaskRowClick($event)">
</adf-cloud-task-list>
<adf-pagination [target]="taskList" [supportedPageSizes]="[5,10,15,20]" [pagination]="10">
</adf-pagination>

<h3>Processes</h3>

<button mat-raised-button routerLink="/community/start-process" color="primary">
  Start new process
</button>

<adf-cloud-process-list #processList [appName]="''" [sorting]="processListSorting" (rowClick)="onProcessRowClick($event)">
</adf-cloud-process-list>
<adf-pagination [target]="processList" [supportedPageSizes]="[5,10,15,20]" [pagination]="10">
</adf-pagination>
